# Ignore the following files and directories when exporting
/tests          export-ignore
/testbench.yaml export-ignore
/pint.json      export-ignore
/.gitignore     export-ignore
/phpunit.xml    export-ignore
/.editorconfig  export-ignore
/.gitattributes export-ignore
